
RewriteEngine on
RewriteCond %{HTTP_HOST} ^mudajundiai\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mudajundiai\.com\.br$
RewriteRule ^/?$ "http\:\/\/www\.vempramerolar\.com\.br" [R=301,L]

RewriteCond %{HTTP_HOST} ^mudajundiaivemparamerolar\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mudajundiaivemparamerolar\.com\.br$
RewriteRule ^/?$ "http\:\/\/www\.vempramerolar\.com\.br" [R=301,L]

RewriteCond %{HTTP_HOST} ^mudajundiaivempramerolar\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.mudajundiaivempramerolar\.com\.br$
RewriteRule ^/?$ "http\:\/\/www\.vempramerolar\.com\.br" [R=301,L]

RewriteCond %{HTTP_HOST} ^vemparamerolar\.com\.br$ [OR]
RewriteCond %{HTTP_HOST} ^www\.vemparamerolar\.com\.br$
RewriteRule ^/?$ "http\:\/\/www\.vempramerolar\.com\.br" [R=301,L]

